.navigation {
 display: flex;
}

.listItem {
 list-style: none;
}

.itens {
 list-style: none;
 text-decoration: none;
 color: black;
 padding: 1rem;
 font-family: var(--font-origin);
 font-size: 24px;
}